* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.header {
  display: flex;
  margin: 5px;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.logo img{
  width: 130px;
  height: 120px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  margin-right: 3rem;
  font-weight: 500;
}

.main {
  margin: 5px;
}

.res-card {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 0 10px 10px 0;
}

.res-card img {
  width: 250px;
  height: 200px;
  margin-bottom: 10px;
}

.res-card h4 {
  margin-top: 5px;
}

.res-card:hover {
  border: 1px solid grey;
  cursor: pointer;
}

.res-name span {
  font-size: 13px;
  float: right;
}

.search {
  padding: 10px;
}

.filter-btn {
  padding: 5px;
  color: black;
  background-color: rgb(213, 216, 225);
  border: 1px solid gray;
  border-radius: 5px;
}

.filter-btn:hover {
  cursor: pointer;
  background-color: rgb(220, 229, 205);
}